
body {
    font-family: Arial, Helvetica, sans-serif;

}

#header {
    height: 10vh;
    background-color:orange;
    margin:0;
    width: 100vw;
    color:rgba(0,0,0,.4);
}

.content {
    height:100%;
    border: 1px black dotted;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#cartImg {
    margin-right: 1em;
    margin-left: 1em;
    /* border: 1px black solid; */
}

h1 {
    /* vertical-align: middle; */
}